body {
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
}

h1 {
    font-size: 2em;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

.error-container {
    max-width: 600px;
}

a {
    color: #0000EE;
}
